In [15]:
import pandas as pd
import numpy as np

# Definindo o número de linhas
n = 0

In [16]:
# 1. Tabela Dimensão: Vendedores
n=10
vendedores = pd.DataFrame({
    'VendedorID': range(1, n+1),
    'Nome': [f'Vendedor {i}' for i in range(1, n+1)],
    'Região': np.random.choice(['Norte', 'Sul', 'Leste', 'Oeste'], n),
    'DataAdmissao': pd.to_datetime(np.random.choice(pd.date_range('2018-01-01', '2024-01-01', freq='D'), n)),
    'Status': np.random.choice(['Ativo', 'Inativo'], n),
})


vendedores.to_excel('vendedores.xlsx',index=False)
vendedores

   VendedorID         Nome Região DataAdmissao   Status
0           1   Vendedor 1  Leste   2023-12-20  Inativo
1           2   Vendedor 2  Oeste   2022-09-06  Inativo
2           3   Vendedor 3  Norte   2023-04-27  Inativo
3           4   Vendedor 4  Oeste   2019-12-28    Ativo
4           5   Vendedor 5  Leste   2023-02-05    Ativo
5           6   Vendedor 6    Sul   2023-12-10  Inativo
6           7   Vendedor 7  Leste   2018-06-12    Ativo
7           8   Vendedor 8  Norte   2022-08-31    Ativo
8           9   Vendedor 9  Oeste   2023-12-15  Inativo
9          10  Vendedor 10  Leste   2022-10-23  Inativo

In [17]:
# 2. Tabela Dimensão: Clientes
n=50
clientes = pd.DataFrame({
    'ClienteID': range(1, n+1),
    'NomeCliente': [f'Cliente {i}' for i in range(1, n+1)],
    'Cidade': np.random.choice(['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Porto Alegre'], n),
    'DataCadastro': pd.to_datetime(np.random.choice(pd.date_range('2020-01-01', '2024-01-01', freq='D'), n)),
    'TipoCliente': np.random.choice(['Novo', 'Fidelizado'], n),
})
clientes.to_excel('clientes.xlsx',index=False)

clientes

    ClienteID NomeCliente          Cidade DataCadastro TipoCliente
0           1   Cliente 1  Rio de Janeiro   2020-08-08        Novo
1           2   Cliente 2  Belo Horizonte   2023-02-06  Fidelizado
2           3   Cliente 3       São Paulo   2020-08-08        Novo
3           4   Cliente 4  Rio de Janeiro   2023-10-28  Fidelizado
4           5   Cliente 5  Belo Horizonte   2022-04-15  Fidelizado
5           6   Cliente 6  Belo Horizonte   2020-09-06  Fidelizado
6           7   Cliente 7  Rio de Janeiro   2022-10-22        Novo
7           8   Cliente 8    Porto Alegre   2020-06-25  Fidelizado
8           9   Cliente 9    Porto Alegre   2022-12-18  Fidelizado
9          10  Cliente 10  Rio de Janeiro   2021-08-03        Novo
10         11  Cliente 11  Rio de Janeiro   2022-05-29  Fidelizado
11         12  Cliente 12  Belo Horizonte   2022-01-15        Novo
12         13  Cliente 13       São Paulo   2022-01-23  Fidelizado
13         14  Cliente 14       São Paulo   2020-06-08        Novo
14         15  Cliente 15  Belo Horizonte   2022-10-09        Novo
15         16  Cliente 16  Rio de Janeiro   2023-01-17  Fidelizado
16         17  Cliente 17       São Paulo   2020-05-30        Novo
17         18  Cliente 18  Rio de Janeiro   2021-08-11        Novo
18         19  Cliente 19       São Paulo   2022-04-27  Fidelizado
19         20  Cliente 20  Rio de Janeiro   2022-10-21  Fidelizado
20         21  Cliente 21  Rio de Janeiro   2023-03-20  Fidelizado
21         22  Cliente 22       São Paulo   2021-09-01        Novo
22         23  Cliente 23  Rio de Janeiro   2021-08-27        Novo
23         24  Cliente 24       São Paulo   2020-01-27        Novo
24         25  Cliente 25  Rio de Janeiro   2021-12-22  Fidelizado
25         26  Cliente 26       São Paulo   2023-10-31  Fidelizado
26         27  Cliente 27  Rio de Janeiro   2023-09-19        Novo
27         28  Cliente 28       São Paulo   2020-12-17  Fidelizado
28         29  Cliente 29       São Paulo   2020-08-01  Fidelizado
29         30  Cliente 30    Porto Alegre   2023-06-13        Novo
30         31  Cliente 31    Porto Alegre   2020-06-29        Novo
31         32  Cliente 32  Belo Horizonte   2020-06-21        Novo
32         33  Cliente 33  Belo Horizonte   2022-12-24  Fidelizado
33         34  Cliente 34  Belo Horizonte   2020-06-27        Novo
34         35  Cliente 35    Porto Alegre   2021-02-16        Novo
35         36  Cliente 36       São Paulo   2023-10-05  Fidelizado
36         37  Cliente 37       São Paulo   2020-10-02        Novo
37         38  Cliente 38  Belo Horizonte   2020-05-01        Novo
38         39  Cliente 39       São Paulo   2023-10-10        Novo
39         40  Cliente 40  Rio de Janeiro   2023-09-28        Novo
40         41  Cliente 41       São Paulo   2023-07-11  Fidelizado
41         42  Cliente 42  Belo Horizonte   2021-08-12        Novo
42         43  Cliente 43  Rio de Janeiro   2023-02-09  Fidelizado
43         44  Cliente 44  Rio de Janeiro   2020-05-10        Novo
44         45  Cliente 45       São Paulo   2023-07-16        Novo
45         46  Cliente 46  Rio de Janeiro   2022-10-17  Fidelizado
46         47  Cliente 47       São Paulo   2022-07-14        Novo
47         48  Cliente 48  Belo Horizonte   2021-05-05        Novo
48         49  Cliente 49  Belo Horizonte   2021-09-21  Fidelizado
49         50  Cliente 50    Porto Alegre   2021-11-05        Novo

In [18]:
# 3. Tabela Dimensão: Produtos
n=4
produtos = pd.DataFrame({
    'ProdutoID': range(1, n+1),
    'NomeProduto': np.random.choice(['Produto A', 'Produto B', 'Produto C', 'Produto D'], n),
    'Categoria': np.random.choice(['Categoria 1', 'Categoria 2', 'Categoria 3'], n),
    'Preço': np.random.uniform(50, 5000, n).round(2),
})
produtos.to_excel('produtos.xlsx',index=False)

produtos

   ProdutoID NomeProduto    Categoria    Preço
0          1   Produto B  Categoria 1  3452.85
1          2   Produto A  Categoria 2  1053.46
2          3   Produto B  Categoria 2  4257.03
3          4   Produto B  Categoria 3  3034.39

In [19]:

# 4. Tabela Dimensão: Regiões
regioes = pd.DataFrame({
    'RegiaoID': range(1, 5),
    'NomeRegiao': ['Norte', 'Sul', 'Leste', 'Oeste'],
    'Populacao': np.random.randint(500000, 20000000, 4),  # População estimada por região
})
regioes.to_excel('regioes.xlsx',index=False)

regioes

   RegiaoID NomeRegiao  Populacao
0         1      Norte    5392388
1         2        Sul   10027911
2         3      Leste   11912495
3         4      Oeste   17885707

In [20]:
# Vamos supor que as tabelas de 'produtos', 'vendedores' e 'clientes' já foram criadas como no exemplo anterior

n = 6000  # Número de vendas

vendas = []

for i in range(1, n + 1):
    venda_id = i
    vendedor_id = np.random.choice(vendedores['VendedorID'])
    cliente_id = np.random.choice(clientes['ClienteID'])
    data_venda = pd.to_datetime(np.random.choice(pd.date_range('2023-01-01', '2024-12-31', freq='D')))
    
    # Selecionar entre 1 a 3 produtos para cada venda
    produtos_venda = np.random.choice(produtos['ProdutoID'], size=np.random.randint(1, 4), replace=True)
    
    # Gerar a quantidade de cada produto vendido
    quantidade_produtos = np.random.randint(1, 5, len(produtos_venda))
    
    # Obter os preços dos produtos vendidos
    valor_produtos = produtos.loc[produtos['ProdutoID'].isin(produtos_venda), 'Preço'].values
    
    # Verificar se as quantidades e preços têm o mesmo tamanho
    if len(quantidade_produtos) == len(valor_produtos):
        valor_venda = (quantidade_produtos * valor_produtos).sum()  # Total da venda
    else:
        # Caso haja discrepância (não esperado), continuamos o loop
        continue

    # Para cada produto da venda, criamos uma linha
    for j in range(len(produtos_venda)):
        vendas.append([venda_id, vendedor_id, cliente_id, produtos_venda[j], data_venda, valor_produtos[j], quantidade_produtos[j]])

# Criando o DataFrame de vendas
vendas_df = pd.DataFrame(vendas, columns=['VendaID', 'VendedorID', 'ClienteID', 'ProdutoID', 'DataVenda', 'ValorProduto', 'Quantidade'])

vendas_df.to_excel('vendas_df.xlsx',index=False)

vendas_df

,VendaID,VendedorID,ClienteID,ProdutoID,DataVenda,ValorProduto,Quantidade
0,1,2,10,3,2024-06-30,3452.85,1
1,1,2,10,1,2024-06-30,4257.03,3
2,3,3,29,4,2023-07-19,3034.39,4
3,5,2,19,2,2023-01-04,3452.85,3
4,5,2,19,1,2023-01-04,1053.46,2
...,...,...,...,...,...,...,...
7236,5997,5,13,3,2024-12-07,3034.39,1
7237,5998,9,3,2,2024-01-18,3452.85,2
7238,5998,9,3,1,2024-01-18,1053.46,2
7239,5999,6,9,3,2024-10-24,4257.03,2
7240,5999,6,9,4,2024-10-24,3034.39,3